<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
         
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="select-none bg-black min-h-screen flex flex-col text-white">

	{# HEADER #}
    <nav> 
	<ul class="flex justify-center items-center space-x-5 p-3 bg-white/10 w-full">
	<li><img class="size-5 rounded-full" src={{logo}} alt=""></li>
	{% for menu in menus %}
	<li class="cursor-pointer hover:text-white/80 hover:underline underline-offset-10"><a class="capitalize" href="{{ path((menu)) }}">{{menu}}</a></li>
	{% endfor %}
	</ul>
	</nav>

	{# MAIN #}
	<main class="flex-1 [&_h1]:text-4xl [&_h2]:text-3xl [&_li]:text-2xl">
	{% block body %}{% endblock %}
	</main>

	{# FOOTER #}
	<footer class="text-white text-center p-10 bg-white/10 mt-auto">
	 &copy; NovaTech {{ year is defined ? year : "now"|date("Y") }}
	</footer>
	
	</body>

</html>